body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header {
  background-color: #3dc19c;
  padding: 15px;
  position: sticky;
  top: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  transition: filter 0.3s ease;
  cursor: pointer;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 25px;
  font-size: 23px;
  transition: color 0.3s ease;
  position: relative;
  transition: color 0.3s ease-in-out;
  
}
.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: #ff0055;
  transition: width 0.4s ease, background 0.4s ease;
}
.nav-links a:hover {
  color: #fc0505;
  transform: scale(1.1) rotate(-1deg);
}
.nav-links a:hover::after {
  width: 100%;
  background: #c09018;
}
.hero {
  height: 500px;
  text-align: center;
  padding: 80px 20px;
  background-image: url(./hacker3.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.hero h1 {
  font-size: 50px;
}

.hero p {
  font-size: 40px;
  color: #13cf13;
  font-weight: lighter;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.social-icons img:hover {
  filter: brightness(0.8);
}

.social-icons img:active {
  filter: invert(1);
}
.footer {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  text-align: center;
  background: #222;
  color: white;
}

@media (max-width:768px){

nav {
  flex-direction: column;
 


}
.nav-links a{
  font-size: 14px;
  margin-left: 0px;
  margin: 8px;
}

.hero h1 {
  font-size: 30px;
}

.hero p {
  font-size: 20px;
  
 
}

.hero {
 background-position: center;
}

.social-icons {
  
  gap:0;
  
}
.footer{
  flex-direction: column;
}

.social-icons img {
  width: 25px;
  height: 25px;
}

}
